#header {
    display: flex;
    justify-content: space-between;
}

#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    
}

#primary-container{
    padding-left: 10%;
}
#container-category{
    display: flex;
    justify-content: space-evenly;
}