---
import '../styles/global.css';
---

<footer class="mt-12 mb-6 flex flex-col items-center text-sm space-y-3">
    <div class="flex space-x-4">
        <a href="https://github.com/alexanderedwardio14/" class="text-zinc-400 hover:text-white transition" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/alexander-edwardio/" class="text-zinc-400 hover:text-white transition" target="_blank">LinkedIn</a>
        <a href="https://www.instagram.com/alexander.edward/" class="text-zinc-400 hover:text-white transition" target="_blank">Instagram</a>
        <a href="https://www.youtube.com/@cheldim" class="text-zinc-400 hover:text-white transition" target="_blank">YouTube</a>
    </div>
    <span class="text-zinc-500">&copy; 2026 Alexander Edwardio. All rights reserved.</span>
</footer>
